$primary-color: #0D728C;
$secondary-color: rgb(34, 141, 168);

$white: #fff;
$empty-logo-color: rgb(228, 228, 228);
$second-item-color: #f8f8f8;

$transition-efect: all 0.5s ease;

$buttons-border-radius: 50px;


$link-color: #999;
$link-hover-color: grey;