@import 'styles/index';

.table {
    margin-top: 30px;
    margin-bottom: 30px;
}

.pagination {
    display: inline-flex;
    list-style: none;
    padding-left: 0;
    cursor: pointer;
    li {
        a {
            color: $secondary-color;
            display: block;
            padding: 10px 15px;
            &:hover {
                background-color: $primary-color;
                color: $white;
                transition: $transition-efect;
            }
        }
    }
}

.active {
    background-color: $primary-color;
    color: $white;
}

.disabledClassName {
    opacity: 0.2;
    a {
        cursor: default;
    }
}
